* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.box {
  width: calc(100% / 6);
  justify-content: center;
  display: flex;
  border: 1px solid black;
  padding: 60px;
  cursor: pointer;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}



